.navbar {
  width: 180px;
  height: 100wh;
  display: block;
  background-color: var(--body-grey);
}

.navbar-logo {
  height: 100px;
  width: 100%;
  background-image: url('../public/e-s-logo.svg');
  background-repeat: no-repeat;
  background-size: 160px;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-spacer {
  height: 15px;
}

.navbar-spacer.top {
  border-top: 1px solid var(--light-grey);
}

.navbar-spacer.bottom {
  border-bottom: 1px solid var(--light-grey);
}

.admin-title {
  font-size: 22px;
  font-weight: bold;
  color: var(--white);
  text-align: center;
  background-color: var(--orange);
  padding: 10px 0;
}

.navbar-links {
  padding: 0 20px 10px;
}

.navbar-link {
  color: var(--white);
  font-size: 18px;
  padding: 10px 0 0 0;
}

.navbar-link.active {
  color: var(--orange);
}
