.navbar {
  width: 180px;
  height: 100wh;
  display: block;
  background-color: var(--body-grey);
}

.navbar-logo {
  height: 100px;
  border-bottom: 1px solid var(--white);
  width: 100%;
  background-image: url('styles/e-s-logo.png');
  background-repeat: no-repeat;
  background-size: 160px;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-links {
  padding: 0 20px 10px;
}

.navbar-link {
  color: var(--white);
  font-size: 18px;
  padding: 10px 0 0 0;
}

.navbar-link.active {
  color: var(--orange);
}
